.user {
  margin-bottom: 20px;

  &__img {
    display: block;
    margin-bottom: 15px;
  }

  &__wrapper {
    display: flex;
  }

  &__photo {
    width: 140px;
    margin-right: 15px;
  }

  &__name,
  &__birth,
  &__city,
  &__education,
  &__site {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__name {
    font-size: 22px;
    font-weight: bold;
  }
}