.dialogs {
  padding: 20px;
  background-color: rgba(#2fc0d0, 0.2);

  &__title {
    padding: 10px;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
  }

  &__list {
    width: 150px;
    padding: 10px;
    list-style: disc;
    margin-left: 20px;
  }

  &__messages {
    padding: 10px;
    width: 400px;
  }

  &__textarea {
    width: 100%;
    min-height: 60px;
  }

  &__button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #2fc0d0;
    border: 1px solid #2fc0d0;

    &:active {
      color: #2fc0d0;
      background-color: #ffffff;
    }
  }
}