.dialogs {
  padding: 20px;
  background-color: rgba(#2fc0d0, 0.2);

  &__title {
    padding: 10px;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
  }

  &__list {
    width: 150px;
    padding: 10px;
    list-style: disc;
    margin-left: 20px;
  }

  &__messages {
    padding: 10px;
    width: 400px;
  }
}